*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{ height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:inherit;}

/* Обнуление */

//*{border: .1px solid black;}
$blue: #4a76a8;

h1{
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    //font-size: 55px;
    line-height: 1.2em;
    font-size: calc(25px + 30*(100vw / 1920));
    padding-bottom: 1vh;
}

h2{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    line-height: 72px;
    font-size: 36px;
    font-size: calc(23px + 13*(100vw / 1920));
    color: #040404;
    font-weight: 700;
    position: relative;
    padding-left: 68px;
    span{
        color: $blue;
    }
}

h2:before{
    position: absolute;
    content: '';
    background-color: $blue;
    width: 54px;
    height: 1px;
    left: 0;
    bottom: 50%;
}

body{
    font-family: "Roboto", sans-serif;;
    font-weight: 400;
}

.container{
    max-width: 1115px;
    padding: 0 7px;
    margin: 0 auto;
}

// header

header{
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px 0;
}

.header_logo{
    height: 100%;
}

.header_location{
    display: flex;
    align-items: center;
}
.circle{
    width: 40px;
    height: 40px;
    background-color: $blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.header_phone{
    color: $blue;
    font-size: 32px;
    font-size: calc(20px + 12*(100vw / 1920));
    font-weight: 400;
    span{
        font-weight: 700;
    }
}

.header_call{
    display: flex;
    align-items: center;
    border: 1px solid $blue;
    border-radius: 50px;
    padding: 2% 2.5vw;
    padding-left: 45px;
    position: relative;
    cursor: pointer;
    .circle{
        position: absolute;
        left: -15px;
        box-shadow: 0 0 25px #fff;
        img{
            width: 15px;
            height: auto;
        }
    }
}

.header_call:hover{
    box-shadow: 0 0 10px rgba(74,118,168,0.1);
}

//intro

.intro{
    background: url(../images/img/first-screen-bg.png) no-repeat center top/cover;
    width: 100%;
    height: 586px;
    color: #fff;
    position: relative;
    .container{
        height: 100%;
    }
}

.intro_text{
    position: relative;
    padding-left: 7px;
}

.intro_text::after,
.intro_text::before{
    position: absolute;
    content: '';
    width: 356px;
    height: 45px;
    left: -30px;
    border: 25px solid #add3f5;
    margin: 0 7px;
}

.intro_text::after{
    bottom: -68px;
    border-top: 0;
}

.intro_text::before{
    top: -40px;
    border-bottom: 0;
}

.h1_subtitle::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 100px;
    background-color: #add3f5;
    left: -30px;
    margin: 0 7px;
}

.h1_subtitle{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4em;
    padding-left: 5px;
    font-size: calc(16px + 4*(100vw / 1920));
}

.h1_up{
    font-weight: 100;
    text-transform: uppercase;
    line-height: 7.3vh;
    font-size: calc(20px + 20*(100vw / 1920));
}

.intro_main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 3.5vw;
    padding-bottom: 3.5vh;
}

.intro_img{
    position: absolute;
    right: 15px;
    top: 35%;
    width: 37%;
    height: auto;
    img{
        width: 100%;
        height: auto;
    }
}

// products

.products{
    width: 100%;
    height: auto;
    padding: 32px 0;
}
.products_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48.5%;
    height: auto;
}

.products_body{
    display: flex;
    margin: 27px 0;
}

.products_item_img{
    height: 250px;
    width: 41%;
    background-color: #fff;
    border: 1px solid $blue;
    box-shadow: 0 0 60px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img{
        width: 85%;
    }
}

.products_item_text{
    width: 59%;
    height: auto;
    padding: 40px 5px 40px 30px;
    background-color: #fff;
    box-shadow: 0 0 60px rgba(0,0,0,0.3);
    .products_item_title{
        font-weight: 500;
        font-size: 22px;
        color: $blue;
        margin-bottom: 0.7em;
    }
    p{
        line-height: 1.4em;
        padding-left: 13px;
        position: relative;
    }
    p:before{
        position: absolute;
        content: '';
        background-color: $blue;
        height: 17px;
        width: 2px;
        left: 0;
    }
}

.price_circle_wrap{
    position: absolute;
    border-radius: 50%;
    width: 77px;
    height: 77px;
    border: 4px solid $blue;
    right: 10px;
    bottom: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    .price_circle{
        background-color: $blue;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        font-family: "PFDinDisplayPro";
        font-weight: 500;
        font-size: 22px;
    }
}

















@media(max-width: 1125px){
    header{
        .header_location{
            display: none;
        }
    }

}

@media(max-width: 940px){
    .intro{
        .intro_img{
            width: 27%;
            height: auto;
        }
    }
}

@media(max-width: 768px){
    header{
        height: 7vh;
        .header_phone{
            font-size: calc(15px + (100vw / 1920));
        }
    }
}

@media(max-width: 640px){
    header{
        height: 5vh;
    }
    .intro{
        padding-top: 20px;
        height: 90vh;
        padding-left: 15px;
        .intro_main{
            flex-direction: column;
            justify-content: space-around;
            .intro_img{
                max-width: 300px;
                position: static;
            }
        }
        .intro_img{
            width: 80%;
        }
    }
}

@media(max-width: 460px){
    header{
        .header_phone{
            display: none;
        }
    }
    .intro{
        padding-top: 50px;
        h1{
            font-size: calc(26px + 7*(100vw / 1920));
            padding: 15px 0;
        }
        .h1_up{
            font-size: calc(14px + 7*(100vw / 1920));
            line-height: normal;
            padding-bottom: 10px;
        }
        .h1_subtitle{
            font-size: calc(13px + 6*(100vw / 1920));
            line-height: 1.2em;
        }
        .intro_text::after,
        .intro_text::before{
            position: absolute;
            content: '';
            width: 105%;
            height: 35px;
            left: -30px;
            border: 20px solid #add3f5;
            margin: 0 7px;
        }
        .intro_text::before{
            border-bottom: 0;
        }
        .intro_text::after{
            border-top: 0;
            bottom: -40px;
        }
        .h1_subtitle::before{
            position: absolute;
            content: '';
            width: 20px;
            height: 80px;
            background-color: #add3f5;
            left: -30px;
            margin: 0 7px;
        }

    }
}
