@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/* Обнуление */
h1 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  font-size: calc(25px + 30*(100vw / 1920));
  padding-bottom: 1vh; }

h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  line-height: 8vh;
  font-size: 36px;
  font-size: calc(23px + 13*(100vw / 1920));
  color: #040404;
  font-weight: 700;
  position: relative;
  padding-left: 68px; }
  h2 span {
    color: #4a76a8; }

h2:before {
  position: absolute;
  content: '';
  background-color: #4a76a8;
  width: 54px;
  height: 1px;
  left: 0;
  bottom: 50%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: calc(12px + 2*(100vw / 1920)); }

.container {
  max-width: 1115px;
  padding: 0 7px;
  margin: 0 auto; }

header {
  width: 100%;
  height: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 9px 0; }

.header_logo {
  height: 100%; }

.header_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.circle {
  width: 40px;
  height: 40px;
  background-color: #4a76a8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px; }

.header_phone {
  color: #4a76a8;
  font-size: 32px;
  font-size: calc(20px + 12*(100vw / 1920));
  font-weight: 400; }
  .header_phone span {
    font-weight: 700; }

.header_call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #4a76a8;
  border-radius: 50px;
  padding: 2% 2.5vw;
  padding-left: 45px;
  position: relative;
  cursor: pointer; }
  .header_call .circle {
    position: absolute;
    left: -15px;
    -webkit-box-shadow: 0 0 25px #fff;
    box-shadow: 0 0 25px #fff; }
    .header_call .circle img {
      width: 15px;
      height: auto; }

.header_call:hover {
  -webkit-box-shadow: 0 0 10px rgba(74, 118, 168, 0.1);
  box-shadow: 0 0 10px rgba(74, 118, 168, 0.1); }

.intro {
  background: url(../images/img/first-screen-bg.png) no-repeat center top/cover;
  width: 100%;
  height: 586px;
  color: #fff;
  position: relative; }
  .intro .container {
    height: 100%; }

.intro_text {
  position: relative;
  padding-left: 7px; }

.intro_text::after,
.intro_text::before {
  position: absolute;
  content: '';
  width: 356px;
  height: 45px;
  left: -30px;
  border: 25px solid #add3f5;
  margin: 0 7px; }

.intro_text::after {
  bottom: -68px;
  border-top: 0; }

.intro_text::before {
  top: -40px;
  border-bottom: 0; }

.h1_subtitle::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 100px;
  background-color: #add3f5;
  left: -30px;
  margin: 0 7px; }

.h1_subtitle {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
  padding-left: 5px;
  font-size: calc(16px + 4*(100vw / 1920)); }

.h1_up {
  font-weight: 100;
  text-transform: uppercase;
  line-height: 7.3vh;
  font-size: calc(20px + 20*(100vw / 1920)); }

.intro_main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding-left: 3.5vw;
  padding-bottom: 3.5vh; }

.intro_img {
  position: absolute;
  right: 15px;
  top: 35%;
  width: 37%;
  height: auto; }
  .intro_img img {
    width: 100%;
    height: auto; }

.products {
  width: 100%;
  height: auto;
  padding: 3.5vh 0; }

.products_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 532px;
  height: auto;
  margin-bottom: 25px; }

.products_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.products_item_img {
  z-index: 5;
  height: 250px;
  width: 225px;
  background-color: #fff;
  border: 1px solid #4a76a8;
  -webkit-box-shadow: 0 0 70px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .products_item_img img {
    width: 85%; }

.products_item_text {
  position: relative;
  width: 315px;
  height: auto;
  padding: 40px 5px 10px 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2); }
  .products_item_text .products_item_title {
    font-weight: 500;
    font-size: 22px;
    font-size: calc(18px + 4*(100vw / 1920));
    color: #4a76a8;
    margin-bottom: 0.6em; }
  .products_item_text p {
    line-height: 1.4em;
    padding-left: 13px;
    position: relative; }
  .products_item_text p:before {
    position: absolute;
    content: '';
    background-color: #4a76a8;
    height: 17px;
    width: 2px;
    left: 0; }
  .products_item_text .butt_wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .products_item_text button {
    height: auto;
    padding: 5px 5px 5px 15px;
    background-color: #fff;
    border: 1px solid #4a76a8;
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    text-decoration: underline;
    margin-right: 1%;
    margin-top: 15px;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .products_item_text .arrow {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    background-color: #4a76a8;
    position: relative; }
  .products_item_text .arrow:before {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 2px;
    width: 11px;
    bottom: 12px;
    right: 7px; }
  .products_item_text .arrow:after {
    position: absolute;
    content: '';
    border: 2px solid #fff;
    height: 8px;
    width: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 0;
    border-left: 0;
    top: 8px;
    right: 6px; }
  .products_item_text button:hover {
    background-color: #4a76a8;
    color: #fff; }
  .products_item_text button:hover .arrow {
    background-color: #fff; }
  .products_item_text button:hover .arrow:after {
    border: 2px solid #4a76a8;
    border-bottom: 0;
    border-left: 0; }
  .products_item_text button:hover .arrow:before {
    background-color: #4a76a8; }

.products_item_text:after {
  position: absolute;
  content: '';
  height: 45px;
  width: 4px;
  background-color: #4a76a8;
  right: 0;
  top: 0; }

.price_circle_wrap {
  position: absolute;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  border: 4px solid #224b7a;
  right: 10px;
  bottom: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .price_circle_wrap .price_circle {
    background-color: #4a76a8;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: "PFDinDisplayPro";
    font-weight: 500;
    font-size: 22px; }

.look_wrap {
  width: 100%;
  height: auto;
  text-align: center; }
  .look_wrap button {
    border: 1px solid #4a76a8;
    border-radius: 50px;
    padding: 14px 55px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    background-color: #fff; }
  .look_wrap button:before {
    content: '';
    position: absolute;
    background-color: #4a76a8;
    height: 45px;
    width: 45px;
    left: -9px;
    top: 1px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff; }
  .look_wrap button:after {
    content: '';
    position: absolute;
    border: 2px solid #fff;
    border-bottom: 0;
    border-left: 0;
    height: 12px;
    width: 12px;
    left: 5px;
    top: 16.5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

/* advantages */
.adv {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }

.adv:before {
  position: absolute;
  content: '';
  background-color: #4a76a8;
  height: 180px;
  width: 560px;
  -webkit-transform: rotate(29deg);
  -ms-transform: rotate(29deg);
  transform: rotate(29deg);
  left: -100px;
  bottom: -95px;
  z-index: -2; }

.advantages_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 4.5vh 0; }

.adv_img_wrap {
  width: 15%;
  height: auto; }
  .adv_img_wrap img {
    width: 100%;
    height: auto; }

/* doubt */
.doubt {
  width: 100%;
  height: auto;
  background: url(../images/img/doubt_bg.png) no-repeat center top/cover; }
  .doubt p {
    font-size: 16px;
    line-height: 3vh;
    margin-top: 0.5vh;
    padding-top: 10px;
    position: relative; }
  .doubt p::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #4a76a8;
    top: 15px;
    left: 20px; }
  .doubt .n::before {
    left: -20px; }

.doubt_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 7vh 0;
  position: relative; }

.doubt_body::before {
  position: absolute;
  content: '';
  height: 78%;
  width: 85px;
  border: 20px solid #224b7a;
  border-right: 0;
  left: -30px;
  bottom: 54px;
  z-index: 20; }

.doubt_body::after {
  position: absolute;
  content: '';
  background-color: #224b7a;
  height: 20px;
  width: 190px;
  bottom: 54px;
  left: 50px;
  z-index: 50; }

.doubt_body_text {
  width: 68%; }
  .doubt_body_text p {
    margin-left: 90px; }

.doubt_body_img {
  width: 30%;
  height: 100%; }
  .doubt_body_img img {
    width: 100%;
    height: auto; }

.doubt_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 50px;
  margin-top: 1vh;
  position: relative; }
  .doubt_video img {
    max-width: 367px;
    height: 260px;
    cursor: pointer; }
  .doubt_video p {
    padding-left: 40px;
    margin: 0; }

.video_player {
  position: relative; }

.video_player:before,
.video_player:after {
  position: absolute;
  content: '';
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 10px solid #4a76a8;
  left: 105px;
  top: 40px;
  border-left: 0;
  border-top: 0;
  cursor: pointer; }

.video_player:after {
  left: 80px;
  top: 15px;
  height: 230px;
  width: 230px;
  border: 1px solid #4a76a8;
  border-left: 0;
  border-top: 0;
  cursor: pointer; }

.play {
  position: absolute;
  content: '';
  background-color: #4a76a8;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  left: 163px;
  top: 95px;
  cursor: pointer; }

.play:before {
  position: absolute;
  content: '';
  border: 15px solid #fff;
  border-bottom: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 25px;
  bottom: 25px;
  cursor: pointer; }

/* reviews */
.blue-bg {
  margin: 3vh 0;
  padding-bottom: 60px; }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2.8vh 0; }

.blue-bg {
  position: relative;
  overflow: hidden; }
  .blue-bg h2 {
    line-height: normal;
    margin: 4vh 0; }

.blue-bg:before {
  position: absolute;
  content: '';
  background-color: #4a76a8;
  height: 400px;
  width: 700px;
  top: -200px;
  right: -150px;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: -3; }

.reviews_item {
  background-color: #fff;
  width: 206px;
  height: auto;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-top: 37px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center; }
  .reviews_item img {
    display: inline-block;
    text-align: center; }
  .reviews_item p {
    line-height: 1.5em;
    font-size: 14px;
    color: #666;
    text-align: center; }
  .reviews_item .reviews_name {
    font-weight: 400;
    font-size: 18px;
    line-height: 5.5vh;
    color: #000;
    position: relative; }
  .reviews_item .reviews_name:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 92px;
    background-color: #4a76a8;
    bottom: 1vh; }

.slick-slide {
  width: 290px;
  margin: 0px;
  height: auto;
  padding: 15px 7px; }

.slick-arrow {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #fff;
  border: 1px solid #4a76a8;
  z-index: 30;
  bottom: -70px;
  right: 0;
  border-radius: 50%; }

.slick-arrow:hover {
  background-color: #4a76a8; }

.slick-prev {
  position: absolute;
  right: 70px; }

.slick-prev:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border: 2px solid #4a76a8;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 24px;
  left: 26px;
  border-right: 0;
  border-top: 0; }

.slick-next:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border: 2px solid #4a76a8;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 23px;
  left: 24px;
  border-left: 0;
  border-bottom: 0; }

/* make review */
h4 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  position: relative; }

h4:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 10%;
  background-color: #4a76a8;
  bottom: -18px;
  left: 45%; }

.make_review {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: visible;
  padding-bottom: 50px; }

.form_name {
  position: relative;
  margin-top: 5vh;
  margin-bottom: 20px; }
  .form_name input {
    border: 1px solid #d1d1d1;
    padding: 24px;
    width: 241px;
    height: auto;
    border-radius: 10px; }

.label-name {
  position: absolute;
  left: 24px;
  top: 25px;
  color: #999;
  pointer-events: none; }

.form_name input:valid + .label-name,
.form_name input:focus + .label-name {
  display: none; }

.form_textarea {
  width: 100%;
  margin-bottom: 5vh;
  position: relative; }
  .form_textarea textarea {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    width: 100%;
    height: 108px;
    padding: 24px; }

.form_textarea textarea:focus + .label-name {
  display: none; }

.submit_file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.form_file {
  margin-right: 10px; }
  .form_file input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .form_file img {
    margin-left: 10px;
    width: 15px;
    margin-bottom: 1px; }
  .form_file label {
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 52px;
    width: 200px;
    padding: 20px 35px;
    cursor: pointer;
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500; }

.form_button button {
  background-color: #224b7a;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  padding: 20px 40px;
  border-radius: 10px; }

/* answers */
.answers h2 {
  margin-bottom: 4vh; }

.answer_item {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px;
  line-height: 3vh;
  position: relative;
  margin-bottom: 35px; }

.answer_item::before {
  position: absolute;
  content: '';
  height: 54px;
  width: 5px;
  background-color: #4a76a8;
  left: 0;
  top: 0; }

.answer_text {
  display: inline-block;
  width: 80%; }

.answer_arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #aeaeae;
  right: 20px;
  top: 20px;
  border-radius: 50%;
  cursor: pointer; }

.answer_title {
  font-size: 18px;
  font-weight: 500;
  color: #224b7a;
  margin-bottom: 1.5vh; }

.answer_text_grey {
  background-color: #ededed;
  padding: 10px 20px;
  margin-top: 15px; }

/* footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 24px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  margin-bottom: -70px;
  position: relative;
  background-color: #fff;
  margin-top: 8vh; }

.under_footer {
  z-index: -4;
  content: '';
  width: 100%;
  height: 170px;
  background-color: #224b7a;
  padding-top: 100px;
  color: #fff; }
  .under_footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 130px; }

.footer_icons_item {
  width: 35px;
  height: 35px;
  background-color: #464a49;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer_icons_item:hover {
  background-color: #629fd1;
  cursor: pointer; }

@media (max-width: 1400px) {
  .adv:before {
    display: none; } }

@media (max-width: 1165px) {
  .products_body {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .products_body .products_item {
      width: 50%;
      height: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .products_body .products_item .products_item_img {
        width: 40vw;
        min-width: 320px; }
        .products_body .products_item .products_item_img img {
          max-width: 210px; }
      .products_body .products_item .products_item_text {
        max-width: 340px; }
  .blue-bg:before {
    display: none; }
  .doubt_body::before,
  .doubt_body::after {
    display: none; } }

@media (max-width: 1125px) {
  header .header_location {
    display: none; }
  footer .header_location {
    display: none; } }

@media (max-width: 1050px) {
  .doubt_body_text {
    width: 95%; }
  .doubt_body_img {
    display: none; } }

@media (max-width: 940px) {
  .intro .intro_img {
    width: 27%;
    height: auto; } }

@media (max-width: 768px) {
  header {
    height: 7vh; }
    header .header_phone {
      font-size: calc(15px + (100vw / 1920)); }
  footer {
    padding: 10px;
    height: 10vh; }
    footer .header_phone {
      font-size: calc(15px + (100vw / 1920)); } }

@media (max-width: 660px) {
  header {
    height: 5vh; }
  .intro {
    padding-top: 20px;
    height: 90vh;
    padding-left: 15px; }
    .intro .intro_main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .intro .intro_main .intro_img {
        max-width: 300px;
        position: static; }
    .intro .intro_img {
      width: 80%; }
  .products_body .products_item {
    width: 90%; }
  .advantages_body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .adv_img_wrap {
    width: 40%;
    margin-top: 2vh; }
  .doubt_video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  h2 {
    line-height: normal; }
  footer {
    height: 10vh; } }

@media (max-width: 460px) {
  header .header_phone {
    display: none; }
  .intro {
    padding-top: 50px; }
    .intro h1 {
      font-size: calc(26px + 7*(100vw / 1920));
      padding: 15px 0; }
    .intro .h1_up {
      font-size: calc(14px + 7*(100vw / 1920));
      line-height: normal;
      padding-bottom: 10px; }
    .intro .h1_subtitle {
      font-size: calc(13px + 6*(100vw / 1920));
      line-height: 1.2em; }
    .intro .intro_text::after,
    .intro .intro_text::before {
      position: absolute;
      content: '';
      width: 105%;
      height: 35px;
      left: -30px;
      border: 20px solid #add3f5;
      margin: 0 7px; }
    .intro .intro_text::before {
      border-bottom: 0; }
    .intro .intro_text::after {
      border-top: 0;
      bottom: -40px; }
    .intro .h1_subtitle::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 80px;
      background-color: #add3f5;
      left: -30px;
      margin: 0 7px; }
  h2 {
    font-size: calc(18px + 13*(100vw / 1920));
    padding-left: 12vw; }
  h2:before {
    width: 10vw; }
  .products_body .products_item .products_item_img {
    width: 98% !important;
    min-width: 0px; }
  .products_body .products_item .products_item_text {
    width: 98%;
    padding: 20px 15px; }
  .doubt_body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .doubt_body p {
      margin: 0;
      padding: 10px; }
    .doubt_body p::before {
      display: none; }
    .doubt_body .doubt_video {
      padding: 0;
      width: 100%; }
  footer .header_phone {
    display: none; }
  .form_file label {
    padding: 15px 10px; }
  .form_button button {
    padding: 15px 10px; } }

@media (max-width: 340px) {
  .doubt_body_text {
    width: 100% !important; }
  .video_player img {
    width: 300px; }
  .video_player:before,
  .video_player:after {
    left: 65px;
    top: 45px; }
  .video_player:after {
    left: 40px;
    top: 16px; }
  .play {
    position: absolute;
    content: '';
    background-color: #4a76a8;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    left: 123px;
    top: 95px;
    cursor: pointer; } }
