

.block1{
    background-color: red;
    width: 300px;
    height: 300px;
}

.block2{
    background-color: grey;
    width: 300px;
    height: 300px;
}

.tns-outer{
    position: relative;
}

.tns-nav{
    position: absolute;
    bottom: -100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.tns-nav button{
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid green;
    background-color: #fff;
    transition: .5s;
}

.tns-nav .tns-nav-active{
    background-color: gold;
}

@media(max-width: 640px){
    .block2,
    .block1{
        padding-top: 100px;
        height: 30px;
    }
}
