*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a{color:inherit;}
nav,footer,header,aside{display: block;}
html,body{ height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:inherit;}

/* Обнуление */

$yellow: #FECA36;
$black: #464646;
$grey: #EEEEEE;

*{
    -webkit-appearence: none !important;
}

body{
    margin: 0;
    font-family: "Noto Sans JP","Graphik LCG", sans-serif;
    color: #464646;
    font-size: 18px;
    line-height: 139%;
    width: auto;
    height: auto;
    font-weight: 400;
}
html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

h1{
    font-size: 96px;
    line-height: 110%;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: 900;
    .b1{
        font-family: "Roboto","Graphik LCG", sans-serif;
        font-size: 0.7em;
        color: $grey;
        font-weight: 300;
        letter-spacing: normal;
    }
}

.number{
    font-family: "Roboto","Graphik LCG", sans-serif;
}

h2{
    font-weight: bold;
    font-size: 2.4em;
    // letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
}

h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.header{
    a:hover{
        color: $yellow;
    }
}

svg:hover{
    fill: $yellow;
}

.container{
    max-width: 1560px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    color: $grey;
    font-weight: 300;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        font-weight: 300;
    }
}

.header_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-bottom: 30px;
    .header_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li{
        margin-left: 30px;
        a{
            padding: 20px 10px;
        }
    }
}

.header_contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 40px 0 0;
    font-weight: 500;
    a{
        margin: 3px;
    }
    .yellow{
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        line-height: normal;
    }
}

.yellow{
    color: #FECA36;
}

.uppercase{
    text-transform: uppercase;
}

.header_login{
    padding: 7px;
    a{
        display: inline-block;
        text-align: center;
        font-size: 14px;
    }
    a:hover{
        color: inherit;
    }
    svg{
        fill: #FECA36;
    }
}

.header_login:hover{
    background-color: rgba(225,225,225,0.2);
}

/* intro */

.intro{
    min-height: 600px;
    width: 100%;
    height: 110vh;
    min-height: 600px;
    padding-bottom: 20px;
    background: url(../img/index/bg.png) no-repeat top/cover;
    .container{
        height: 100%;
    }
}

.intro_body{
    min-height: 600px;
    position: relative;
    height: 78%;
    min-height: 600px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.h1_subtitle{
    font-weight: 300;
    max-width: 395px;
    font-size: 1.3em;
    line-height: 125%;
    position: relative;
    margin: 50px 0 0 10px;
}

.h1_subtitle:after{
    position: absolute;
    content: url(../img/index/icons/plus-h1.svg);
    top: -20px;
    left: -10px;
}

.intro_buttons{
    margin-top: 40px;
}

.intro_button{
    font-size: 14px;
    border: 2px solid $yellow;
    display: inline-block;
    text-align: center;
    padding: 30px 0;
    width: 390px;
    height: auto;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 10px;
}

.intro_button.active{
    transition: .2s;
    background-color: $yellow;
    color: $black;
}

.button_hover:hover{
    background-color: rgba(254,202,54,0.5);
    color: #fff;
}

.intro_icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.intro_icons_social{
    a{
        margin-right: 40px;
    }
    svg{
        fill:#fff;
    }
    svg:hover{
        fill: $yellow;
    }
}

.intro_icons_language{
    display: flex;
    text-transform: uppercase;
    font-weight: 300;
    div{
        width: 50px;
        text-align: center;
        padding: 10px 0;
        margin-left: 10px;
        cursor: pointer;
    }
    div:hover{
        color: $yellow;
    }
}

.selected_language{
    border: 1px solid #fff;
}

/* mobil menu */

.header_mob.none{
    top: -170%;
}

.mob_menu{
    width: 65px;
    height: auto;
    padding: 25px 10px;
    position: relative;
    display: none;
    z-index: 11;
}

.mob_menu_lines{
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #fff;
}

.mob_menu_lines:after,
.mob_menu_lines:before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 100%;
    height: 2px;
    top: 10px;
    left: 0;
}

.mob_menu_lines:before{
    top: -10px;
}

.header_mob{
    transition: .4s;
    color: #fff;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: auto;
}

.mob_header_login{
    padding: 15px;
    display: inline-block;
    a{
        display: inline-block;
        text-align: center;
    }
}

.header_mob_contacts{
    display: inline-block;
    padding: 20px;
}

.header_mob_choose{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.mob_intro_icons{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    .intro_icons_language,
    .intro_icons_social{
        padding: 20px;
    }
    .intro_icons_language{
        div{
            margin: 0 7px;
        }
    }
}

.header_nav_mob{
    text-align: center;
    li{
        padding: 15px;
    }
}

/* select */

.select{
    max-width: 1034px;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px 40px;
    margin-top: -10vh;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.select_item{
    cursor: pointer;
    width: 23%;
    text-align: center;
    background-color: $grey;
    margin: 5px 7px;
    font-size: 1em;
    font-family: 'Montserrat','Graphik LCG1', sans-serif;
    font-weight: 300;
    text-align: center;
    height: 100%;
    display: inline-block;
    padding: 30px 10px 30px 0;
    p{
        position: relative;
        display: inline-block;
    }
    p:after{
        position: absolute;
        content: '';
        top: 6px;
        right: -15px;
        height: 7px;
        width: 7px;
        transform: rotate(45deg);
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
    }
}

.select_category,
.select_city,
.select_district{
    width: 31.1%;
    text-align: center;
}

/* popular */

.popular{
    margin-top: 80px;
}

.popular_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    a{
        background-color: $yellow;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        padding: 22px 30px 22px 80px;
    }
}

.popular_submit{
    margin-right: 15px;
}

.popular_back{
    margin-left: 15px;
}

.popular_submit,
.popular_back{
    position: relative;
}

.popular_submit::before{
    content: url(../img/icons/mail.svg);
    position: absolute;
    left: 25px;
    top: 17px;
}

.popular_back:before{
    content: url(../img/icons/arrow-back.svg);
    position: absolute;
    left: 25px;
    top: 17px;
}

.popular_cards{
    display: flex;
    justify-content: space-between;
}

.popular_cards_item{
    width: 30%;
    height: auto;
    background: #FFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
}

.pop_item_img{
    width: 100%;
    height: 325px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.pop_item_text{
    padding: 40px 30px;
}

.pop_item_deck{
    display: inline-block;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.pop_item_text_down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    a{
        text-decoration: underline;
        text-transform: uppercase;
        position: relative;
        padding: 10px;
        padding-right: 60px;
    }
    a:before{
        position: absolute;
        content: url(../img/index/icons/pop_arrow.svg);
        right: 5px;
        top: 8px;
    }
    a:hover{
        background-color: $grey;
    }
}

.pop_item_price{
    font-weight: 700;
    font-size: 1.7em;
}

.pop_item_text_about{
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.pop_item_text_about_line{
    background-color: $grey;
    height: 20px;
    width: 2px;
}

.popular_button{
    width: 490px;
    margin: 80px auto;

    a{
        display: inline-block;
        width: 490px;
        padding: 30px 0;
        background-color: $yellow;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }
}

/* consultation */

.consultation{
    width: 100%;
    height: auto;
    background: #f6f6f6 url(../img/index/consultation.png) no-repeat 100%;
    padding: 50px 0;
    border: 1px solid red;
}

.consultation_body{
    width: 660px;
    border: 1px solid red;
    h2{
        text-align: left;
    }
    p{
        margin: 35px 0;
    }
}

.consultation_inputs{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    input{
        height: 80px;
        width: 310px;
        border: 1px solid green;
        position: relative;
    }
}

.consultation_input{
    position: relative;
    label{
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        color: #979797;
        border: 1px solid orange;
        width: 65%;
        padding: 25px 0;
        margin-left: 100px;
    }
    label:before{
        position: absolute;
        content: '';
        height: 24px;
        width: 2px;
        background-color: $yellow;
        top: 26px;
        left: -20px;
    }
}




/* districts */

.districts{
    width: 100%;
    height: auto;
    padding: 80px 0;
}

.districts_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.districts_content_item{
    width: 50%;
}

.districts_text{
    text-align: right;
    width: 45%;
    p{
        margin-bottom: 10px;
    }
    .dist_a{
        color: $yellow;
        position: relative;
        padding-right: 15px;
    }
    .dist_a:hover{
        text-decoration: underline;
    }
    .dist_a:after{
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border: 2px solid $yellow;
        transform: rotate(45deg);
        border-bottom: 0;
        border-left: 0;
        top: 40%;
    }
    h2{
        text-align: right;
        margin-bottom: 75px;
    }
}

.districts_content_buttons{
    margin-top: 70px;
}

.districts_content_button{
    display: inline-block;
    width: 288px;
    text-align: center;
    padding: 35px 0;
    font-weight: 600;
    margin: 10px;
    position: relative;
}

.district_button_prev{
    background-color: #fff;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
}

.district_button_next{
    background: $yellow;
    box-shadow: 0px 15px 50px rgba(254, 202, 54, 0.5);
}

.district_button_prev:after{
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    left: 55px;
    top: 48%;
    transform: rotate(45deg);
    border: 3px solid #000;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
}

.district_button_next:after{
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    right: 55px;
    top: 48%;
    transform: rotate(45deg);
    border: 3px solid #000;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.districts_gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.districts_gallery_img{
    max-width: 510px;
    height: auto;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    img{
        width: 100%;
        height: auto;
    }
}

.districts_gallery_pict{
    border: 2px solid $yellow;
    padding: 60px 35px;
    width: 300px;
    border-left: 0;
}

.districts_gallery_pict{
    img{
        width: 180px;
        height: 120px;
        margin: 5px;
    }
}























/* addreses.html */

.addres_content_wrap{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
        background: #FFFFFF;
        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.15);
        max-width: 1296px;
        height: auto;
        padding: 80px;
        margin: 20px;
    }
    h2{
        font-size: 1.95em;
        text-align: left;
    }
    p{
        color: #000;
    }
    .addres_subtitle{
        color: #464646;
        font-size: 1.5em;
        margin: 50px 0;
        line-height: 110%;
    }
}






@media(max-width: 1540px){
    body{
        font-size: calc(11px + 6*(100vw / 1920));
    }
    h1{
        font-size: calc(22px + 71*(100vw / 1920));
    }
    h2{
        font-size: calc(18px + 30*(100vw / 1920));
    }
    h3{
        font-size: calc(16px + 14*(100vw / 1920));
    }
    .select{
        margin-top: -40px;
    }
}

@media(max-width: 1310px){
    .header_nav{
        li{
            margin-left: auto;
        }
    }
}

@media(max-width: 1380px){
    .districts_gallery_pict{
        border: 2px solid $yellow;
    }
}

@media(max-width: 1150px){
    .popular_cards{
        flex-wrap: wrap;
    }
    .popular_cards_item{
        width: 48%;
        margin-bottom: 20px;
    }
}

@media(max-width: 1100px){
    .header{
        padding-top: 10px;
    }
    .header_main{
        margin-bottom: 0;
    }
    .mob_menu{
        display: block;
    }
    .header_nav{
        width: 10px;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
    }
    .header_login{
        display: none;
    }
    .intro_body{
        height: 85vh;
    }
    .intro_icons{
        display: none;
    }
    .header_contacts{
        margin-right: 20px;
    }
    .select{
        margin-top: -13vh;
    }
    .select_item{
        p:after{
            top: 4px;
        }
    }
    .districts_content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .districts_content_item{
            width: 100%;
            text-align: center;
            h2{
                text-align: center;
                margin: 40px 0 20px;
            }
        }
    }
}

@media(max-width: 850px){
    .intro_buttons{
        text-align: center;
        width: 100%;
    }
    .intro,
    .intro_body{
        min-height: 100vh;
        height: auto;
        padding-bottom: 30px;
    }
    .addres_content_wrap{
        .content{
            padding: 40px;
        }
    }
}

@media(max-width: 780px){
    .select_item{
        width: 46%;
    }
    .select_category{
        width: 100%;
    }
    .popular_back,
    .popular_submit{
        display: none;
    }
    .popular_nav{
        justify-content: center;
    }
}

@media(max-width: 670px){
    .popular_cards_item{
        width: 100%;
        margin: 7px 7px 20px;
    }
}

@media(max-width: 570px){
    .intro{
        height: auto;
    }
    .intro_button{
        width: 100%;
        margin: 10px 0;
    }
    .mob_menu{
        width: 50px;
    }
    .header_contacts{
        margin-right: 10px;
    }
    h1{
        line-height: normal;
        span{
            line-height: 0px;
        }
    }
    // .intro_body{
    //     margin-top: 40px;
    // }
    .header_contacts{
        .yellow{
            display: none;
        }
    }
    .intro_buttons{
        margin-top: 5vh;
    }
    .intro_button{
        padding: 20px;
    }
    .h1_subtitle{
        margin-top: 5vh;
    }
    .select{
        padding: 20px 15px;
    }
    .addres_content_wrap{
        height: auto;
        margin-bottom: 30px;
        .content{
            padding: 20px;
        }
    }
    .popular_button{
        width: 100%;
        margin: 60px 0;
        .button_hover{
            width: 100%;
        }
    }
    h1{
        font-size: 2.7em;
        span{
            font-size: 18px;
        }
    }
    .districts_gallery{
        flex-direction: column;
    }
    .districts_content_item{
        .dist_a:after{
            top: 1px;
            right: -5px;
        }
    }
    .district_button_next:after,
    .district_button_prev:after{
        top: 40px;
    }
}

@media(max-width: 382px){
    .select_item{
        width: 100%;
        select{
            padding: 15px 0;
        }
    }
    .select_city,
    .select_district,
    .select_price1,
    .select_price2{
        width: 44%;
    }
    .pop_item_img{
        height: 240px;
    }
    .pop_item_text_about{
        margin-bottom: 20px;
    }
    .pop_item_text_down{
        margin-top: 0;
    }
    .popular_cards_item{
        margin: 8px 0;
    }
}
