*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{ height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:inherit;}

/* Обнуление */


/* HEADER */

body{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.container{
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 10px;
}

.intro{
    width: 100%;
    height: 100vh;
    background: url(../img/first_block_bg.png) no-repeat center top / cover;
    color: #fff;
    position: relative;
    background-color: #000;
}

.header_line{
    content: '';
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: #A1A1A1;
}

.header{
    width: 100%;
    height: 100px;
}

.header_nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
        margin-left: 40px;
    }

    a{
        position: relative;
        color: #fff;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 61px;
            left: 0;
            z-index: 1;
            opacity: 0;
            transition: all .1s ease-in;
        }
        &:hover:after{
            opacity: 1;
        }
    }
}

/* SMALL HEADER */

.header_small{
    display: none;
    height: 70px;
    width: 100%;
    background-color: #0e0f0b;
}

.header__burger_menu{
    width: 200px;
    height: auto;
    background-color: grey;
    position: absolute;
    top: 70px;
    display: none;
    li{
        margin: 10px;
        a{
            color: #fff;
        }
    }
}

/* FIRST BLOCK */

.intro_main{
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    display: inline-block;
    max-width: 800px;
    margin-bottom: 6vh;
}

.intro_button{
    padding: 13px 36px;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
    background-color: #4985ff;
}


/* SECOND BLOCK */

.two_block{
    width: 100%;
    height: auto;
}

.two_block_main{
    margin: 11vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    max-width: 740px;
    margin-bottom: 6.5vh;

    color: #323232;
}

.h2_subtitle{
    text-align: center;
    max-width: 730px;
}

.two_block_services{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 9vh 0 7vh;
}

.service{
    width: 31%;
    height: auto;
    display: flex;
    margin: 10px 0;
}

h3{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.services_main{
    width: 76%;
    margin-left: 15px;
}

.service_image{
    width: 24%;
    img{
        max-width: 100%;
        height: auto;
    }
}

/* THIRD BLOCK */

.three_block{
    width: 100%;
    height: auto;
    background-color: #f6f6f8;
    padding: 12vh 0;
    h2{
        text-align: left;
    }
}

.three_block_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.three_block_main_text{
    width: 54%;
    height: auto;
    p{
        margin: 35px 0;
    }
}

a{
    color: #4985ff;
    text-decoration: underline;
}

.three_block_main_image{
    width: 44%;
    height: auto;
    img{
        max-width: 100%;
        height: auto;
    }
}

a:hover{
    text-decoration: none;
}

.three_line{
    content: '';
    top: 100px;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: #e0e0e0;
    margin: 9vh 0;
}

.our_projects{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.our_projects_item{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number_projects{
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;

    color: #000000;
}

.number_projects::before{
    content: url(../img/number_pr.svg);
    margin-right: 15px;
    vertical-align: middle;
}


/* FOUR BLOCK */

.four_block{
    width: 100%;
    height: auto;
    padding-top: 14vh;
    position: relative;
    h2{
        text-align: left;
        color: #fff;
        width: 65%;
    }

}

.four_bg{
    width: 100%;
    height: 50vh;
    background-color: #504DC2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.four_block_main_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.four_block_main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.four_block_works{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.works_item{
    width: 31%;
    height: auto;
    img{
        max-width: 100%;
        height: auto;
    }
    h3{
        margin: 4vh 0;
        max-width: 600px;
    }
    a{
        display: inline-block;
        margin-top: 4vh;
    }
}

.blue{
    color: #4985ff;
}

/* FIVE BLOCK */

.five_block{
    width: 100%;
    height: auto;
    background-color: #f6f6f8;
    padding: 14vh 0;
}

.five_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    P{
        max-width: 730px;
    }
}

.five_images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7vh;
}

.five_images_item{
    width: 24%;
    height: auto;
    img{
        max-width: 100%;
        height: auto;
    }
}







@media(max-width: 890px){
    h1{ // -8px font size
        font-size: 30px;
        line-height: 44px;
        width: 90%;
    }
    h2{
        font-size: 28px;
        line-height: 32px;
    }
    .our_projects{
        width: 100%;
    }

    .five_images_item{
        width: 49%;
        height: auto;
        margin: 3vh 0;
        text-align: center;
    }

}

@media(max-width: 640px){
    .header_line,
    .header{
        display: none;
    }


    .header_small{
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin: 0 20px;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease-in;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .3s ease-in;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger_menu.active{
        display: block;
    }
    .two_block_services{
        flex-direction: column;
        .services_main{
            width: 86%;
        }
        .service_image{
            width: 40px;
        }
    }
    .service{
        width: 95%;
        height: auto;
        margin: 15px auto;
    }


    .three_block_main{
        flex-direction: column;
        .three_block_main_text{
            width: 90%;
        }
        .three_block_main_image{
            width: 75%;
            margin-top: 6vh;
        }
    }

    .our_projects_item1{
        width: 50%;
        margin-bottom: 10vh;
    }
    .our_projects_item2{
        width: 100%;
    }



    .four_block_main_title{
        flex-direction: column;
        margin-bottom: 6vh;
        h2{
            width: 80%;
            text-align: center;
        }
    }
    .four_block_works{
        flex-wrap: wrap;
        justify-content: center;
    }
    .works_item{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4vh 0;
    }
}

@media(max-width: 420px){
    h1{ //-7px font-size
        font-size: 23px;
        line-height: 30px;
    }
    h2{
        font-size: 20px;
        line-height: 25px;
    }
    h3{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 5px;
    }
    p{ //-4px
        font-size: 12px;
        line-height: 15px;
    }
    .intro_button{
        height: 5px 10px;
        font-size: 14px;
    }

    .our_projects_item{
        width: 100%;
    }


    .five_images_item{
        width: 100%;
        height: auto;
        margin: 3vh 0;
        text-align: center;
    }
    .five_images_item:first-child{
        margin-top: 0;
    }
}


//*{border: .1px solid black;}
