@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/* Обнуление */
/* HEADER */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #999999; }

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px; }

.intro {
  width: 100%;
  height: 100vh;
  background: url(../img/first_block_bg.png) no-repeat center top/cover;
  color: #fff;
  position: relative;
  background-color: #000; }

.header_line {
  content: '';
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: .5px;
  background-color: #A1A1A1; }

.header {
  width: 100%;
  height: 100px; }

.header_nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .header_nav li {
    margin-left: 40px;
    text-decoration: none; }
  .header_nav a {
    position: relative;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    text-decoration: none; }
    .header_nav a:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 61px;
      left: 0;
      z-index: 1;
      opacity: 0;
      -webkit-transition: all .1s ease-in;
      -o-transition: all .1s ease-in;
      transition: all .1s ease-in; }
    .header_nav a:hover:after {
      opacity: 1; }

/* SMALL HEADER */
.header_small {
  display: none;
  height: 70px;
  width: 100%;
  background-color: #0e0f0b; }

.header__burger_menu {
  width: 200px;
  height: auto;
  background-color: grey;
  position: absolute;
  top: 70px;
  display: none; }
  .header__burger_menu li {
    margin: 10px; }
    .header__burger_menu li a {
      color: #fff;
      text-decoration: none; }

/* FIRST BLOCK */
.intro_main {
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  display: inline-block;
  max-width: 800px;
  margin-bottom: 6vh; }

.intro_button {
  padding: 13px 36px;
  border-radius: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #4985ff; }

/* SECOND BLOCK */
.two_block {
  width: 100%;
  height: auto; }

.two_block_main {
  margin: 11vh 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  max-width: 740px;
  margin-bottom: 6.5vh;
  color: #323232; }

.h2_subtitle {
  text-align: center;
  max-width: 730px; }

.two_block_services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 9vh 0 7vh; }

.service {
  width: 31%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0; }

h3 {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }

.services_main {
  width: 76%;
  margin-left: 15px; }

.service_image {
  width: 24%; }
  .service_image img {
    max-width: 100%;
    height: auto; }

/* THIRD BLOCK */
.three_block {
  width: 100%;
  height: auto;
  background-color: #f6f6f8;
  padding: 12vh 0; }
  .three_block h2 {
    text-align: left; }

.three_block_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.three_block_main_text {
  width: 54%;
  height: auto; }
  .three_block_main_text p {
    margin: 35px 0; }

a {
  color: #4985ff;
  text-decoration: underline; }

.three_block_main_image {
  width: 44%;
  height: auto; }
  .three_block_main_image img {
    max-width: 100%;
    height: auto; }

a:hover {
  text-decoration: none; }

.three_line {
  content: '';
  top: 100px;
  left: 0;
  width: 100%;
  height: .5px;
  background-color: #e0e0e0;
  margin: 9vh 0; }

.our_projects {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.our_projects_item {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.number_projects {
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000; }

.number_projects::before {
  content: url(../img/number_pr.svg);
  margin-right: 15px;
  vertical-align: middle; }

/* FOUR BLOCK */
.four_block {
  width: 100%;
  height: auto;
  padding-top: 14vh;
  position: relative; }
  .four_block h2 {
    text-align: left;
    color: #fff;
    width: 65%; }

.four_bg {
  width: 100%;
  height: 50vh;
  background-color: #504DC2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.four_block_main_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.four_block_main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.four_block_works {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.works_item {
  width: 31%;
  height: auto; }
  .works_item img {
    max-width: 100%;
    height: auto; }
  .works_item h3 {
    margin: 4vh 0;
    max-width: 600px; }
  .works_item a {
    display: inline-block;
    margin-top: 4vh; }

.blue {
  color: #4985ff; }

/* FIVE BLOCK */
.five_block {
  width: 100%;
  height: auto;
  background-color: #f6f6f8;
  padding: 14vh 0; }

.five_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .five_main P {
    max-width: 730px; }

.five_images {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 7vh; }

.five_images_item {
  width: 24%;
  height: auto; }
  .five_images_item img {
    width: 100%;
    height: auto;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in; }
  .five_images_item img:hover {
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

/* SIX BLOCK */
.six_bg_image {
  width: 100%;
  height: 500px;
  background: url(../img/first_block_bg.png) no-repeat center top/cover;
  color: #fff;
  position: relative; }
  .six_bg_image h2 {
    color: #fff;
    margin-top: 7vh; }

.six_main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .six_main p {
    text-align: center; }

.six_picture {
  margin-top: 7vh;
  width: 85%;
  height: auto;
  position: relative;
  border-radius: 7px; }
  .six_picture img {
    max-width: 100%;
    height: auto; }

p {
  text-align: center; }

.oval {
  position: absolute;
  padding: 25px;
  width: 300px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  border-radius: 50px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer; }

.play_text {
  width: 100%;
  text-align: center;
  font-size: 18px; }

.oval:hover {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .subscribe p {
    color: #000; }

.su_note {
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-bottom: 9vh; }

.form {
  margin: 6vh 0;
  padding: 12px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  width: 489px;
  position: relative; }

.form input {
  width: 67%;
  height: 18px;
  margin-left: 20px; }

.content-name {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

.label-name {
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 0;
  width: 33%;
  height: 100%;
  background-color: #4985ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 18px;
  border-radius: 0px 25px 25px 0;
  cursor: pointer; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

/* FOOTER */
.pop {
  width: 100%;
  height: 250px; }

footer {
  background-color: #f6f6f8;
  padding: 7vh 0; }
  footer p {
    display: inline-block;
    width: 94%;
    text-align: left;
    padding-left: 7px;
    margin: 1.6vh 0;
    vertical-align: center;
    line-height: 20px;
    padding-bottom: 6px; }
    footer p h3 {
      text-align: left; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer_item {
  width: 25%;
  height: auto; }
  .footer_item h3 {
    margin-top: 15px; }
  .footer_item P {
    cursor: pointer;
    padding-right: 4px; }
  .footer_item p:before {
    content: '';
    border: solid #999;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2.5px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 7px; }

@media (max-width: 890px) {
  h1 {
    font-size: 30px;
    line-height: 44px;
    width: 90%; }
  h2 {
    font-size: 28px;
    line-height: 32px; }
  .our_projects {
    width: 100%; }
  .five_images_item {
    width: 49%;
    height: auto;
    margin: 3vh 0;
    text-align: center; }
  .six_2 {
    padding: 0;
    margin: 0;
    display: inline-block;
    -webkit-box-shadow: 0 0 350px #000;
    box-shadow: 0 0 350px #000; }
  .six_bg_image {
    width: 100%;
    height: 300px; }
    .six_bg_image .six_picture {
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  .footer_item {
    width: 48%; } }

@media (max-width: 640px) {
  .header_line,
  .header {
    display: none; }
  .header_small {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: 0 20px; }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in; }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px; }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px; }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header__burger_menu.active {
    display: block; }
  .two_block_services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .two_block_services .services_main {
      width: 86%; }
    .two_block_services .service_image {
      width: 40px; }
  .service {
    width: 95%;
    height: auto;
    margin: 15px auto; }
  .three_block_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .three_block_main .three_block_main_text {
      width: 90%; }
    .three_block_main .three_block_main_image {
      width: 75%;
      margin-top: 6vh; }
  .our_projects_item1 {
    width: 50%;
    margin-bottom: 10vh; }
  .our_projects_item2 {
    width: 100%; }
  .four_block_main_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 6vh; }
    .four_block_main_title h2 {
      width: 80%;
      text-align: center; }
  .four_block_works {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .works_item {
    width: 90%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 4vh 0; }
  .oval {
    padding: 10px;
    width: 61%;
    height: 36%;
    font-size: 14px; }
    .oval img {
      width: 22%;
      height: auto; }
  .six_picture {
    width: 100%; }
  .play_text {
    font-size: 12px;
    line-height: 12px; }
  .form {
    width: 95%; }
  .content-name {
    font-size: 14px; } }

@media (max-width: 420px) {
  h1 {
    font-size: 23px;
    line-height: 30px; }
  h2 {
    font-size: 20px;
    line-height: 25px; }
  h3 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px; }
  p {
    font-size: 12px;
    line-height: 15px; }
  .intro_button {
    height: 5px 10px;
    font-size: 14px; }
  .our_projects_item {
    width: 100%; }
  .five_images_item {
    width: 100%;
    height: auto;
    margin: 3vh 0;
    text-align: center; }
  .five_images_item:first-child {
    margin-top: 0; }
  .content-name {
    font-size: 10px; }
  .form {
    padding: 7px; }
  .form input {
    padding: 0;
    margin: 3px;
    width: 55%; }
  .label-name {
    padding: 7px;
    width: 45%; }
  .pop {
    height: 16vh; }
  .footer_item {
    width: 80%; }
  .footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 255px) {
  h2 {
    font-size: 15px;
    text-align: center; } }
