@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

a {
  color: inherit; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/* Обнуление */
body {
  margin: 0;
  font-family: 'Graphik LCG', sans-serif;
  color: #464646;
  font-size: 18px;
  line-height: 139%;
  width: auto;
  height: auto;
  font-weight: 400; }

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

h1 {
  font-size: 96px;
  line-height: 110%;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #fff;
  font-weight: 700; }
  h1 span {
    font-size: 0.7em;
    color: #EEEEEE;
    font-weight: 300;
    letter-spacing: normal; }

h2 {
  font-weight: bold;
  font-size: 2.6em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 100%; }

h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px; }

.header a:hover {
  color: #FECA36; }

svg:hover {
  fill: #FECA36; }

.container {
  max-width: 1560px;
  padding: 0 10px;
  margin: 0 auto; }

.header {
  color: #EEEEEE;
  font-weight: 300;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header a {
    font-weight: 300; }

.header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  margin-bottom: 30px; }
  .header_main .header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header_main li {
    margin-left: 30px; }
    .header_main li a {
      padding: 20px 10px; }

.header_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 40px 0 0;
  font-weight: 500; }
  .header_contacts a {
    margin: 3px; }
  .header_contacts .yellow {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    line-height: normal; }

.yellow {
  color: #FECA36; }

.uppercase {
  text-transform: uppercase; }

.header_login {
  padding: 7px; }
  .header_login a {
    display: inline-block;
    text-align: center;
    font-size: 14px; }
  .header_login a:hover {
    color: inherit; }
  .header_login svg {
    fill: #FECA36; }

.header_login:hover {
  background-color: rgba(225, 225, 225, 0.2); }

/* intro */
.intro {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(../img/index/bg.png) no-repeat top/cover; }
  .intro .container {
    height: 100%; }

.intro_body {
  position: relative;
  height: 78%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.h1_subtitle {
  font-weight: 300;
  max-width: 395px;
  font-size: 1.3em;
  line-height: 125%;
  position: relative;
  margin: 50px 0 0 10px; }

.h1_subtitle:after {
  position: absolute;
  content: url(../img/index/icons/plus-h1.svg);
  top: -20px;
  left: -10px; }

.intro_buttons {
  margin-top: 40px; }

.intro_button {
  font-size: 14px;
  border: 2px solid #FECA36;
  display: inline-block;
  text-align: center;
  padding: 30px 0;
  width: 390px;
  height: auto;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 10px; }

.intro_button.active {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background-color: #FECA36;
  color: #464646; }

.button_hover:hover {
  background-color: rgba(254, 202, 54, 0.5);
  color: #fff; }

.intro_icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0; }

.intro_icons_social a {
  margin-right: 40px; }

.intro_icons_social svg {
  fill: #fff; }

.intro_icons_social svg:hover {
  fill: #FECA36; }

.intro_icons_language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 300; }
  .intro_icons_language div {
    width: 50px;
    text-align: center;
    padding: 10px 0;
    margin-left: 10px;
    cursor: pointer; }
  .intro_icons_language div:hover {
    color: #FECA36; }

.selected_language {
  border: 1px solid #fff; }

/* mobil menu */
.header_mob.none {
  top: -170%; }

.mob_menu {
  width: 65px;
  height: auto;
  padding: 25px 10px;
  position: relative;
  display: none;
  z-index: 11; }

.mob_menu_lines {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #fff; }

.mob_menu_lines:after,
.mob_menu_lines:before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 100%;
  height: 2px;
  top: 10px;
  left: 0; }

.mob_menu_lines:before {
  top: -10px; }

.header_mob {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto; }

.mob_header_login {
  padding: 15px;
  display: inline-block; }
  .mob_header_login a {
    display: inline-block;
    text-align: center; }

.header_mob_contacts {
  display: inline-block;
  padding: 20px; }

.header_mob_choose {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.mob_intro_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .mob_intro_icons .intro_icons_language,
  .mob_intro_icons .intro_icons_social {
    padding: 20px; }
  .mob_intro_icons .intro_icons_language div {
    margin: 0 7px; }

.header_nav_mob {
  text-align: center; }
  .header_nav_mob li {
    padding: 15px; }

/* select */
.select {
  max-width: 1034px;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px 40px;
  margin-top: -10vh;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.select_item {
  width: 23%;
  text-align: center;
  background-color: #EEEEEE;
  margin: 5px 7px; }
  .select_item select {
    background-color: #EEEEEE;
    font-size: 1em;
    font-family: 'Graphik LCG1', sans-serif;
    color: #464646;
    font-weight: 300;
    text-align: center;
    height: 100%;
    display: inline-block;
    padding: 30px 0; }

.select_category,
.select_city,
.select_district {
  width: 31.1%;
  text-align: center; }

/* popular */
.popular {
  margin-top: 80px; }

.popular_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px; }
  .popular_nav a {
    background-color: #FECA36;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 22px 30px 22px 80px; }

.popular_submit {
  margin-right: 15px; }

.popular_back {
  margin-left: 15px; }

.popular_submit,
.popular_back {
  position: relative; }

.popular_submit::before {
  content: url(../img/icons/mail.svg);
  position: absolute;
  left: 25px;
  top: 17px; }

.popular_back:before {
  content: url(../img/icons/arrow-back.svg);
  position: absolute;
  left: 25px;
  top: 17px; }

.popular_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.popular_cards_item {
  width: 30%;
  height: auto;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2); }

.pop_item_img {
  width: 100%;
  height: 325px; }
  .pop_item_img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.pop_item_text {
  padding: 40px 30px; }

.pop_item_deck {
  display: inline-block;
  width: 100%;
  height: 100px;
  overflow: hidden; }

.pop_item_text_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px; }
  .pop_item_text_down a {
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
    padding: 10px;
    padding-right: 60px; }
  .pop_item_text_down a:before {
    position: absolute;
    content: url(../img/index/icons/pop_arrow.svg);
    right: 5px;
    top: 6px; }
  .pop_item_text_down a:hover {
    background-color: #EEEEEE; }

.pop_item_price {
  font-weight: 700;
  font-size: 1.7em; }

.pop_item_text_about {
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px; }

.pop_item_text_about_line {
  background-color: #EEEEEE;
  height: 20px;
  width: 2px; }

.popular_button {
  width: 490px;
  margin: 80px auto; }
  .popular_button a {
    display: inline-block;
    width: 490px;
    padding: 30px 0;
    background-color: #FECA36;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600; }

@media (max-width: 1540px) {
  body {
    font-size: calc(11px + 6*(100vw / 1920)); }
  h1 {
    font-size: calc(22px + 71*(100vw / 1920)); }
  h2 {
    font-size: calc(18px + 30*(100vw / 1920)); }
  h3 {
    font-size: calc(16px + 14*(100vw / 1920)); }
  .select {
    margin-top: -40px; } }

@media (max-width: 1310px) {
  .header_nav li {
    margin-left: auto; } }

@media (max-width: 1150px) {
  .popular_cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .popular_cards_item {
    width: 48%;
    margin-bottom: 20px; } }

@media (max-width: 1100px) {
  .header {
    padding-top: 10px; }
  .header_main {
    margin-bottom: 0; }
  .mob_menu {
    display: block; }
  .header_nav {
    width: 10px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0; }
  .header_login {
    display: none; }
  .intro_body {
    height: 85vh; }
  .intro_icons {
    display: none; }
  .header_contacts {
    margin-right: 20px; }
  .select {
    margin-top: -13vh; } }

@media (max-width: 850px) {
  .intro_buttons {
    text-align: center;
    width: 100%; }
  .intro,
  .intro_body {
    min-height: 100vh;
    height: auto;
    padding-bottom: 30px; } }

@media (max-width: 780px) {
  .select_item {
    width: 46%; }
  .select_category {
    width: 100%; }
  .popular_back,
  .popular_submit {
    display: none; }
  .popular_nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 670px) {
  .popular_cards_item {
    width: 100%;
    margin: 7px 7px 20px; } }

@media (max-width: 570px) {
  .intro {
    height: auto; }
  .intro_button {
    width: 100%;
    margin: 10px 0; }
  .mob_menu {
    width: 50px; }
  .header_contacts {
    margin-right: 10px; }
  h1 {
    line-height: normal; }
    h1 span {
      line-height: 0px; }
  .header_contacts .yellow {
    display: none; }
  .intro_buttons {
    margin-top: 5vh; }
  .intro_button {
    padding: 20px; }
  .h1_subtitle {
    margin-top: 5vh; }
  .select {
    padding: 20px 15px; } }

@media (max-width: 382px) {
  .select_item {
    width: 100%; }
    .select_item select {
      padding: 15px 0; }
  .select_city,
  .select_district,
  .select_price1,
  .select_price2 {
    width: 44%; }
  .pop_item_img {
    height: 240px; }
  .pop_item_text_about {
    margin-bottom: 20px; }
  .pop_item_text_down {
    margin-top: 0; } }
